<div class="mx-auto flex flex-col bg-slate-800 ">
<div class="flex flex-col w-[90rem]  mx-auto">
    <div class="flex flex-row absolute top-8 right-10">

        <button class="dark mx-2">{{> icons/dark}}</button>
        <button class="gh-search mx-2" data-ghost-search>{{> icons/search}}</button>

    </div>

    <div class="mx-auto my-14">
        {{ navigation}}
    </div>

</div>
</div>